<!--
=========================================================
* Soft UI Design System - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-design-system
* Copyright 2021 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <title>
        Template site - {% block title %} {{ storage.sitename }}.com {% endblock %} | {{ storage.author }}
    </title>

    <link
      rel="icon"
      href="static/dashboard_assets/img/kaiadmin/favicon.ico"
      type="image/x-icon"
    />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Fonts and icons from kaiadmin -->
    <script src="static/dashboard_assets/js/plugin/webfont/webfont.min.js"></script>
    <!---
    <script>
      WebFont.load({
        google: { families: ["Public Sans:300,400,500,600,700"] },
        custom: {
          families: [
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["static/dashboard_assets/css/fonts.min.css"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
    </script>
    --->
    <!-- Nucleo Icons -->
    <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="/static/assets/css/soft-design-system.css?v=1.0.1" rel="stylesheet" />

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}
    {% endblock stylesheets %}

</head>

<body class="{% block body_class %}{% endblock body_class %}">

    {% block content %}
    {% endblock content %}

    <!-- Specific JS goes HERE -->
    {% block javascripts %}
    <!-- jQuery Scrollbar -->
    {% endblock javascripts %}
    {% include "includes/scripts.html" %}

</body>
</html>
