{% extends 'layouts/home-base-presentation.html' %}

{% block title %} Presentation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="static/dashboard_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/dashboard_assets/css/plugins.min.css" />
    <link rel="stylesheet" href="static/dashboard_assets/css/kaiadmin.min.css" />
{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}

{% include "includes/Dashboard/dashboard.html" %}

{% endblock content %}